<!DOCTYPE html>
<html lang="en">

{% include head.html %}





<body ontouchstart="">

    {% include nav.html %}
<!--google广告-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 54wife -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8580984044286991"
     data-ad-slot="6280909660"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!--google广告-->


    {{ content }}
    
<!--google广告-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 54wife2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8580984044286991"
     data-ad-slot="3216365261"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!--google广告-->

    {% include footer.html %}

</body>

</html>
