<!DOCTYPE html>
<html lang="en">

{% include head.html %}





<body ontouchstart="">

    {% include nav.html %}
<!--google广告-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 54wife -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8580984044286991"
     data-ad-slot="6280909660"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!--google广告-->


    {{ content }}
    <!--google广告-->
    <form action="http://www.google.com" id="cse-search-box">
  <div>
    <input type="hidden" name="cx" value="partner-pub-8580984044286991:4296145667" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="55" />
    <input type="submit" name="sa" value="Search" />
  </div>
</form>

<script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>
<!--google广告-->

<!--google广告-->
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- 54wife2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8580984044286991"
     data-ad-slot="3216365261"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!--google广告-->

    {% include footer.html %}

</body>

</html>
